:root{
    --border-color : #979797;
    --main-bg : #69AE6B;
    --pure-black : #000;
    --pure-red: #f00;
    --card-bg: #fff;   
}



@font-face {font-family: "GeoSlab703 Md BT"; 
    src: url("../fonts/GeoSlab703MdBT.woff2")  format("woff2"), 
        url("../fonts/GeoSlab703MdBT.woff")  format("woff");
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p{
    margin: 0;
}

html{
    background-color: var(--main-bg);
    /* background-image: url('/image/bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "GeoSlab703 Md BT";
}


main{
    position: absolute;
    display: block;
    width: 100%;
    min-height: -webkit-fill-available;
    top: 0;
    left: 0;
  
    background: radial-gradient(circle at top center, rgba(255,255,255,0.2) 0%, rgba(232,232,232,0.2) 32%, rgba(0,0,0,0.2) 100%);
    /* 空出遮挡区域 */
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(
        safe-area-inset-bottom,
        20px
    ) env(safe-area-inset-left, 20px);
    box-sizing: border-box;
    overflow: hidden;
}

#spiderWeb{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-30%,-30%);
    width: 80vw;
    height: auto;
}

css-doodle {
    width: 80vmin;
    height: 40vmin;
    border-radius: 10vmin;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  

.cardContainer{
    perspective: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/* TODO: 这里需要改掉绝对尺寸 */
.card{
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;

    aspect-ratio: 7 / 10;
    width: calc(10vw - 4px);

    position: absolute;
    backface-visibility: hidden;

    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    pointer-events: none;
    box-sizing: border-box;
    z-index: 1001;
}

.card.selected{
    transform: scale(1.1);
}

.card .front{
    box-sizing: border-box;
    backface-visibility: hidden;
    position: absolute;
	transform: perspective(400px) rotateY(0deg);
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: var(--card-bg);
    border: .5px solid var(--border-color);
    border-radius: 3px;
}

.card .back{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    background-image: url('../svg/back.svg');
    background-size: contain;

    backface-visibility: hidden;

	transform: perspective(400px) rotateY(179.9deg);

    transition: transform 0.5s;
    transform-style: preserve-3d;
}

div.card.face-down div.back{
	transform: perspective(400px) rotateY(0);
}

div.card.face-down div.front{
	transform: perspective(400px) rotateY(179.9deg);
}

.card .value{
    width: 27%;
    height: 29%;
    position: absolute;
    top: 3%;
    left: 3%;
}

.card img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
}


.card .suit{
    width: 27%;
    height: 20%;
    position: absolute;
    top: 34%;
    left: 3%;
    transition: all 0.3s;
}

.card.covered .suit{
    top: 5%;
    left: 35%;
}


.card .content{
    width: 57%;
    height: 64%;
    position: absolute;
    right: 6%;
    bottom: 6%;
}

/* 默认不可选 */
.card.face-up:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

.card.face-up.selectable::after,
.card.face-up.selected::after,
.card.face-up.movable-to::after{
    display: none;
}

.card.movable-to{
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    animation: breathe 5s ease-in-out infinite;
}

.card.recycling{
    transform: scale(0.96);
}

/* 默认不可选 */
.card.recycling:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

#touchControlContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#touchControlContainer .touchControlColumn{
    position: absolute;
    width: calc(10vw - 4px);
    height: 100%;
    margin: -1px 2px;
}

#touchControlContainer .touchControlColumn.over{
    border: solid 1px rgba(255,255,255,0.5);
}

#touchControlContainer .touchControlColumn.selectable{
    background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.30) 99%);
    /* box-shadow: inset 0 20px 20px 0 rgba(247,247,247,0.59); */
}

#touchControlContainer .touchControlColumn.movable-to{
    background-color: rgba(238, 238, 22, 0.1);
}


#cursor {
    position: absolute;
    pointer-events: none;
    z-index: 2001;

}

#spider {
    width: 8vw;
    height: auto;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

#silk{
    pointer-events: none;
    z-index: 2000;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}


.controlContainer{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 10px;
}

.controlContainer div{
    display: inline-block;
    padding: 10px;
    z-index: 2000;
    user-select: none;
}


.controls{
    position: absolute;
    left: 30%;
    bottom: 80px;
    height: 150px;
    width: 150px;
    display: none!important;
}

.controls > div{
    position: absolute;
    width: 33%;
    height: 33%;
    border: 1px solid red;
}

.controls .up{
    left: 33%;
    top: 0;
}

.controls .down{
    left: 33%;
    bottom: 0;
}

.controls .left{
    left: 0;
    top: 33%;
}

.controls .right{
    right: 0;
    top: 33%;
}


.controls .confirm{
    right: 0;
    top: 0;
}

.controls .cancel{
    right: 0;
    bottom: 0;
}


#joystick {
    position: fixed;
    left: 50%;
    bottom: 20vh;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

#thumb {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.info{
    pointer-events: none;
}


.welcomePanel{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.endPanel{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    pointer-events: none;

}

.endPanel .panel{
    transform: translate3d(0,200vh,0);
}

.endPanel.appear{
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.5);
}


.endPanel.appear .panel{
    transform: translate3d(0,0,0);
}


.panel{
    position: relative;
    width: 90vw; 
    margin: auto;
    aspect-ratio: 1;

    text-align: center;

    background-color:  #FFCA00;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5vw;

    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.50);
    transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.panel .inner{
    background: #fff;
    position: absolute;
    width:calc(100% - 10vw) ;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.50);
    justify-content: center;
}

.panel p{
    font-size: 18px;
    color: #A2A2A2;
    letter-spacing: -0.58px;
    text-align: center;
    font-weight: lighter;
    font-weight: 100;
}

.panel h3{
    font-size: 32px;
}

.resumeGame{
    display: none;
}

.resumeGame.show{
    display: block;
}


.panel .title{
    text-align: center;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}


.welcomePanel.disappear{
    pointer-events: none;
}


.welcomePanel.disappear .panel{
    transform: translate3d(0,-200vh,0);
}

.restart-game-btn{
    font-size: 24px;
    text-decoration: underline;
    margin-top: 20px;
}


.logo{
    position: absolute;
    pointer-events: none;

    opacity: 0.6;
    font-size: 48px;
    color: #FFFFFF;
    text-align: justify;
    bottom: 9vw;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.game-btns{
    display: none;

    width: 100%;
    height: 26vw;
    position: absolute;
    bottom: 0;

    background: #6CA36E;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
}

.game-btns.show{
    display: block;
}

.deal-cards-btn{
    position: absolute;
    z-index: 1000;
    height: 16vw;
    width: 53vw;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    top: 5.5vw;
    display: flex;
    color: rgba(255, 255, 255, 0.4);

    align-items: center;
    justify-content: center;
    font-size: 28px;
}


.give-up-btn{
    position: absolute;
    z-index: 1000;
    height: 16vw;
    right: 3vw;
    font-size: 18px;
    top: 5vw;
    text-decoration: underline;
}

.retry-btn{
    position: absolute;
    z-index: 1000;
    height: 16vw;
    right: 3vw;
    font-size: 18px;
    top: 15vw;
    text-decoration: underline;

}


.suitplaceholderContainer{
    position: absolute;
    top: 58vh;
    display: flex;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    z-index: 100;
}

.suitplaceholderContainer .suitplaceholder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suitplaceholderContainer .block{
    width: calc(10vw - 1px);
    aspect-ratio: 7 / 10;
    box-shadow: inset 0px 0px 3px 0 rgba(107, 107, 107, 0.5);
    border: .5px solid #4a4a4a;
    margin: 0 10px;
    border-radius: 2px;
}

.suitplaceholderContainer .icon{
   width: 15px;
   margin: 3px;
}

.suitplaceholderContainer .icon img{
    width: 100%;
    height: auto;
    filter: grayscale(100%) brightness(0%);
    opacity: 0.2;
    transition: 0.3s;
 }

 .suitplaceholderContainer .suitplaceholder.active .icon img{
    filter: unset;
    opacity: 1;
}






@keyframes shake {
    0%, 100% { transform: translate(0, 0) rotate(0deg); }
    10% { transform: translate(-1px, 1px) rotate(-1deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    30% { transform: translate(-1px, 1px) rotate(-1deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(1px, -1px) rotate(1deg); }
    70% { transform: translate(-1px, 1px) rotate(-1deg); }
    80% { transform: translate(1px, -1px) rotate(1deg); }
    90% { transform: translate(-1px, 1px) rotate(-1deg); }
}

/* 放大后缩小 */
@keyframes scaleup-and-down {
    0%, 100% { transform: scale(1); }   /* 初始状态和最终状态，不放大不缩小 */
    50% { transform: scale(5); } /* 中间状态，放大1.5倍 */
  }
  