:root{
    --border-color : #979797;
    --main-bg : #69AE6B;
    --pure-black : #000;
    --pure-red: #f00;

    --card-bg: #fff;
    
}



html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* 
@font-face {font-family: "GeoSlab703 Md BT"; 
    src: url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.eot");
    src: url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.svg#GeoSlab703 Md BT") format("svg"); 
} */


html{
    background-color: var(--main-bg);
    /* background-image: url('/image/bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "GeoSlab703 Md BT";
}


main{
    position: absolute;
    display: block;
    width: 100%;
    min-height: -webkit-fill-available;
    top: 0;
    left: 0;
  
    background: radial-gradient(circle at top center, rgba(255,255,255,0.2) 0%, rgba(232,232,232,0.2) 32%, rgba(0,0,0,0.2) 100%);
    /* 空出遮挡区域 */
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(
        safe-area-inset-bottom,
        20px
    ) env(safe-area-inset-left, 20px);
    box-sizing: border-box;
}

css-doodle {
    width: 80vmin;
    height: 40vmin;
    border-radius: 10vmin;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  



/* TODO: 这里需要改掉绝对尺寸 */
.card{
    display: inline-block;
    margin: 1px;

    vertical-align: top;

    aspect-ratio: 7 / 10;
    width: calc(10vw - 1px);

    position: absolute;
    backface-visibility: hidden;

    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.card .front{
    backface-visibility: hidden;
    position: absolute;
	transform: perspective(400px) rotateY(0deg);
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: var(--card-bg);
    border: .5px solid var(--border-color);
    border-radius: 3px;
}

.card .back{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    background-image: url('/svg/back.svg');
    background-size: contain;

    backface-visibility: hidden;

	transform: perspective(400px) rotateY(179.9deg);

    /* transition: 0.5s; */

    transition: transform 0.5s;
    transform-style: preserve-3d;
}

div.card.face-down div.back{
	transform: perspective(400px) rotateY(0);
}

div.card.face-down div.front{
	transform: perspective(400px) rotateY(179.9deg);
}

.card .value{
    width: 27%;
    height: 29%;
    position: absolute;
    top: 3%;
    left: 3%;
}

.card img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
}


.card .suit{
    width: 27%;
    height: 20%;
    position: absolute;
    top: 34%;
    left: 3%;
}

.card .content{
    width: 57%;
    height: 64%;
    position: absolute;
    right: 6%;
    bottom: 6%;
}

/* 默认不可选 */
.card.face-up:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.card.face-up.selectable::after{
    display: none;
}


#cursor {
    position: absolute;
    pointer-events: none;
    z-index: 1001;
    top: 0;
}

#spider {
    width: 8vw;
    height: auto;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

#silk{
    pointer-events: none;
    z-index: 1000;
    top: 0;
    height: 0;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}


.controlContainer{
    position: absolute;
    bottom: 0;
}

