:root{
    --border-color : #979797;
    --main-bg : #69AE6B;
    --pure-black : #000;
    --pure-red: #f00;

    --card-bg: #fff;
}


html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {font-family: "GeoSlab703 Md BT"; 
    src: url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.eot");
    src: url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b035476a570a82a2be6d816ccf71d241.svg#GeoSlab703 Md BT") format("svg"); 
}


html{ 
    background-color: var(--main-bg);
    font-family: "GeoSlab703 Md BT";
}

body{
    background-image: radial-gradient(50% -100%, rgba(255,255,255,0.2) 0%, rgba(232,232,232,0.2) 32%, rgba(0,0,0,0.2) 100%);
}




/* TODO: 这里需要改掉绝对尺寸 */
.card{
    /* width: 70px;
    height: 100px; */

    display: inline-block;
    margin: 2px;

    vertical-align: top;

    aspect-ratio: 7 / 10;
    width: calc(10vw - 2px);

    position: relative;
    backface-visibility: hidden;

}

.card[data-suit="spade"],.card[data-suit="club"]{
    color: var(--pure-black);
}

.card[data-suit="heart"],.card[data-suit="dianmond"]{
    color: var(--pure-red);
}


.card .front{
    backface-visibility: hidden;
    position: absolute;
	transform: perspective(400px) rotateY(0deg);
    width: 100%;
    height: 100%;
    transition: 0.5s;

    background-color: var(--card-bg);
    border: .5px solid var(--border-color);
    border-radius: 3px;


}

.card .back{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    background-image: url('/svg/back.svg');
    background-size: contain;

    backface-visibility: hidden;

	transform: perspective(400px) rotateY(179.9deg);

    transition: 0.5s;

}

div.card:hover div.back{
	transform: perspective(400px) rotateY(0);
}

div.card:hover div.front{
	transform: perspective(400px) rotateY(179.9deg);
}

.card .value{
    width: 27%;
    height: 29%;
    position: absolute;
    top: 3%;
    left: 3%;
}

.card img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
}


.card .suit{
    width: 27%;
    height: 20%;
    position: absolute;
    top: 34%;
    left: 3%;
}

.card .content{
    width: 57%;
    height: 64%;
    position: absolute;
    right: 6%;
    bottom: 6%;
}

