<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Spider Pocket Demo</title>
    <!-- <script src="https://unpkg.com/css-doodle"></script> -->
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
    <!-- qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM -->

    <main id="main">
        <!-- 装载卡牌的容器 -->
        <div id="cardContainer"></div>  
        <!-- 触摸控制区 -->
        <div id="touchControlContainer"></div>
        <div class="controlContainer">
            <div class="controls">
                <div class="up" id="upButton">上 &#8593;</div>
                <div class="down" id="downButton">下 &#8595;</div>
                <div class="left" id="leftButton">左 &#8592;</div>
                <div class="right" id="rightButton">右 &#8594;</div>

                <div class="confirm" id="confirmMove">确定(enter)</div>
                <div class="cancel" id="cancelMove">取消(esc)</div>
            </div>
            <div id="possible-suit-sequences" style="visibility: hidden;">Possible Suit Sequences: </div>  
            <div class="info">
                <!-- <p>游戏区扣合的牌：<span id="tableauFaceDownCount"></span></p>
                <p>游戏区翻开的牌：<span id="tableauFaceUpCount"></span></p> -->
                <p id="stepCount"  style="visibility: hidden;">Step count: 0</p>
            </div>     
        </div>

        <!-- 发牌按钮 -->
        <div id="deal-cards" class="deal-cards-btn"></div>       


        <!-- 光标，这里是小蜘蛛 -->
        <div id="cursor">
            <img id="spider" src="../static/svg/spider.svg" style="position: absolute; top: 0; transform: translate(-50%, -50%);" />
        </div>

        <!-- 蜘蛛丝 -->
        <div id="silk" style="position: absolute; width: 2px; background-color: rgba(255, 255, 255, 0.6);"></div>

        <!-- 开始界面 -->
        <div class="welcomePanel">
            <div class="panel">
                <div class="inner">
                    <div id="initializeApp" class="initializeApp">NEW GAME</div>
                </div>
            </div>
        </div>

        <!-- 用来存放完成的卡牌 -->
        <!-- const suits = ["spade", "club", "heart", "diamond"]; -->

        <div class="suitplaceholder">
            <div class="spadeplaceholder">
                <div class="block"></div>
                <div class="icon">
                    <img src="../static/svg/spade.svg" alt="">
                </div>
            </div>
            <div class="heartplaceholder">
                <div class="block"></div>
                <div class="icon">
                    <img src="../static/svg/heart.svg" alt="">
                </div>
            </div>
            <div class="clubplaceholder">
                <div class="block"></div>
                <div class="icon">
                    <img src="../static/svg/club.svg" alt="">
                </div>
            </div>
            <div class="diamondplaceholder">
                <div class="block"></div>
                <div class="icon">
                    <img src="../static/svg/diamond.svg" alt="">
                </div>
            </div>
        </div>

        <div class="logo">Spider Pocket</div>
        <img id="spiderWeb" src="../static/svg/spiderweb.svg" />
    </main>

    <script type="module">
        import { initApp } from '../static/script/main.js';
        window.initApp = initApp;
    </script>
  
</body>
</html>